__pycache__/
_ext/
build/
dist/
.cache/
data/
.eggs/
*.egg-info/
outputs/
photo/
.coverage
*.pt
*.so

.style.yapf

GAMLP/
NodeFormer/
temp/
./SIEG_OGB/
proteins_gat/
transformer/pre_lm2_prodcuts
NeuralCommonNeighbor/

*.out